.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 32px 0px 32px;
  background-color: #f8fbff;
  border-radius: 4px;
  max-width: 440px;
  margin: 0 auto;
  text-align: center;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 24px;
}

.name {
  font-size: 20px;
  font-weight: 800;
  color: #000000;
  margin-bottom: 12px;
}

.description {
  font-family: var(--font-nunito-sans);
  font-size: 16px;
  line-height: 1.5;
  color: #333333;
  max-width: 320px;
}

@media (min-width: 768px) {
  .profile {
    flex-direction: row;
    text-align: left;
    max-width: 704px;
    padding: 40px;
    gap: 24px;
    border: none;
    background-color: transparent;
  }

  .avatar {
    margin-bottom: 0;
  }

  .name {
    font-size: 28px;
    margin-bottom: 0;
  }

  .description {
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  .profile {
    max-width: 1440px;
    padding: 48px 722px 0px 64px;
    gap: 24px;
  }

  .description {
    max-width: 367px;
  }
}
