.desktopAuth {
  display: flex;
  align-items: center;
  gap: 12px;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.userName {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

.logoutButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 8px;
  padding: 4px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.logoutButton:hover {
  opacity: 0.8;
}
.logoutButton:active {
  opacity: 0.6;
}

.logoutIcon {
  width: 20px;
  height: 20px;
  fill: #fff;
}

.loginButton,
.registerButton {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
  padding: 4px 10px;
  height: 35px;
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

.loginButton {
  width: 58px;
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.loginButton:hover {
  background: #e8eeff;
  color: #000;
}

.registerButton {
  width: 113px;
  background: #fff;
  color: #1a1a1a;
  border: none;
}

.registerButton:hover {
  background: #7f7f7f;
  color: #fff;
}

.modalAuth {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.modalLogin,
.modalRegister {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  padding: 14px 24px;
  border-radius: 8px;
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
  text-align: center;
  width: 100%;
  border: none;
}

.modalLogin {
  background: #6c6c6c;
  color: #fff;
}

.modalLogin:hover {
  background: #4169e1;
  color: #fff;
}

.modalRegister {
  background: #4169e1;
  color: #fff;
}

.modalRegister:hover {
  background: #e8eeff;
  color: #000;
  border: 1px solid #4169e1;
}
