.desktopAuth {
  display: flex;
  align-items: center;
  gap: 12px;
}

.loginButton,
.registerButton {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
  padding: 4px 10px;
  height: 35px;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.loginButton {
  width: 58px;
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.loginButton:hover {
  background: #e8eeff;
  color: #000;
}

.loginButton:active {
  background: #7a96ea;
}

.registerButton {
  width: 113px;
  background: #fff;
  color: #1a1a1a;
  border: none;
}

.registerButton:hover {
  background: #7f7f7f;
  color: #fff;
}

.registerButton:active {
  background: #4c4c4c;
  color: #fff;
}

.modalAuth {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.modalLogin,
.modalRegister {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  padding: 14px 24px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
  text-align: center;
  width: 100%;
}

.modalLogin {
  background: #f0f0f5;
  color: #1a1a1a;
}

.modalLogin:hover {
  background: #4169e1;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modalLogin:active {
  background: #7a96ea;
  color: #000;
}

.modalRegister {
  background: #4169e1;
  color: #fff;
}

.modalRegister:hover {
  background: #e8eeff;
  color: #000;
  border: 1px solid #4169e1;
}

.modalRegister:active {
  background: #1a2a5a;
  color: #fff;
}
