.section {
  padding: 64px 20px;
  background: var(--color-scheme-2-background);
}

.h2 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 28px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: var(--color-dark-text);
  margin: 0 0 24px;
}

/* ===== Cards list ===== */
.list {
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr;
  /* ✅ mobile: 1 колонка */
}

/* Card wrapper */
.item {
  border-radius: 16px;
  background: var(--color-scheme-2-foreground);
  border: 0 solid var(--color-scheme-1-border);
}

/* ===== Footer / Load more ===== */
.footer {
  display: none;
  margin-top: 40px;
}

.moreBtn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  /* width: 163px; */
  height: 48px;
  padding: 6px 12px;

  border-radius: 8px;
  border: 1px solid var(--color-royal-blue);
  background: var(--color-royal-blue);

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: var(--color-white);

  cursor: pointer;
  transition:
    background-color 0.2s ease,
    color 0.2s ease,
    opacity 0.2s ease;
}

/* hover */
.moreBtn:hover {
  background: var(--color-royal-blue-lighter);
  color: var(--color-scheme-2-text);
}

/* active */
.moreBtn:active {
  background: var(--color-royal-blue-light);
  color: var(--color-scheme-2-text);
}

/* disabled (для button) */
.moreBtn:disabled {
  background: var(--color-royal-blue);
  opacity: 0.3;
  cursor: not-allowed;
}

/* ===== Mobile ===== */
@media screen and (min-width: 375px) {
  .item {
    height: 575px;
  }
}

/* ===== Tablet ===== */
@media screen and (min-width: 768px) {
  .section {
    padding: 64px 32px;
  }

  .h2 {
    font-size: 44px;
  }

  .list {
    grid-template-columns: repeat(2, 1fr);
    /* ✅ 2 в ряд => 4 шт = 2x2 */
  }

  .item {
    height: 578px;
    display: block;
  }

  .footer {
    display: flex;
    justify-content: center;
    margin-top: 24px;
  }
}

/* ===== Desktop ===== */
@media screen and (min-width: 1440px) {
  .section {
    padding: 72px 64px;
  }

  .h2 {
    font-size: 52px;
  }

  .list {
    grid-template-columns: repeat(3, 1fr);
    /* ✅ 3 в ряд */
  }

  .item {
    height: 677px;
  }

  .footer {
    display: flex;
    justify-content: center;
  }

}